design_document/*
!design_document/main.tex
# !design_document/main.pdf
vendor/*
!vendor/include/
build
assets/*
!assets/atlas.sh
!assets/atlas.h
!assets/world_atlas.h
!assets/player_atlas.h
.ccls-cache
